* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(175, 236, 216);
  background: linear-gradient(
    112deg,
    rgb(175, 236, 216)25%,
    rgb(255, 186, 190)100% 
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 81%;
  height: 70%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
}
.container {
  animation: transitionIn 3s;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  color: white;
  gap: 25px;
}

nav ul li {
  display: flex;  
  align-items: center;
}

li.active {
  background: rgb(217, 193, 251);
  padding: 3px 15px;
  border-radius: 8px;
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.content h1 {
  font-size: 60px;
}

.content img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  animation: move 4s infinite alternate ease-in-out;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: fit-content;
  height: 100%;
  color: white;  
}

.social-media svg {
  margin: 15px 30px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: fit-content;
  height: 100%;
  color: white; 
}

.right {
  animation: transitionIn 3s;
}

.content-text {
  text-transform: uppercase;
  color: white;
  width: 100%;
  padding: 0 50px;
}

.content span {
  font-size: 18px;
}

.content .right {
  text-align: right;
  margin-top: 170px;
}

.content .left {
  margin-top: -200px;
}

.pre-order {
  background: rgb(217, 193, 251);
  margin-left: auto;
  width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px 0 0 0;
}

.pre-order svg {
  margin-right: 15px;
}

@keyframes move {
  from {
    transform: translate(-50%, -55%) rotate(-25deg);
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to  {
    opacity: 1;
    transform:  rotateX(0);
  }
  
}

@media (max-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content span {
    font-size: 14px;
  }
  .social-media {
    grid-column: 1;
  }
  .content-text {
    grid-column: 2;
    padding: 0;
    margin: 0;
  }
  .content .right {
    text-align: center;
    margin-top: 0px;
  }
  .content .left {
    text-align: center;
    margin-top: -180px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 95%;
    height: 80%;
  }
  .pre-order {
    width: 150px;
  }
}

@media (max-width: 420px) {
  .content .left {
    text-align: center;
    margin-top: -100px;
  }
}